---
layout: page
description: "Weggooien? Mooi niet!"
---
<p>Wij zijn nu een enthousiaste groep van 6 vrijwilligers. En we zoeken extra vrijwilligers om het team compleet te maken, zodat alle spullen die we ter reparatie aangeboden krijgen ook kunnen repareren.</p>
<p>Deze spullen kun je bij ons ter reparatie aanbieden: Stofzuigers, koffiemachines, tosti-apparaten, broodroosters, strijkijzers, lampen, laptops, printers, speelgoed, naaimachines en (tuin)gereedschappen. Mocht je iets missen breng het gerust mee, als we het kunnen repareren doen we dat graag. En voegen we het toe aan bovenstaand lijstje.</p>
<p>Je bent welkom in ons Repaircafé in Gorredijk. Je vindt ons in de bibliotheek in Gorredijk, Schansburg 1, 8401 RX, Gorredijk.</p>
<img src="img/banner-1.jpg" alt="Logo repair cafe" style="width:100%;">
<h1>Berichten:</h1>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Nieuwere Berichten</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Oudere Berichten &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
