---
layout: page
description: "Weggooien? Mooi niet!"
---
<h2>Het eerstvolgende repair café is op zaterdag 3 mei 2025</h2>

<p>Van 10:00 tot 12:00 kun je je spullen dan aanbieden aan onze vrijwilligers. Tot 13:00 werken zij door om alle aangeboden spullen te repareren.</p>

<p>Deze spullen kun je bij ons ter reparatie aanbieden: Stofzuigers, koffiemachines, tosti-apparaten, broodroosters, strijkijzers, lampen, laptops, printers, speelgoed, naaimachines en (tuin)gereedschappen. Mocht je iets ter reparatie hebben wat hier niet bij staat, breng het gerust mee. Als we het kunnen repareren doen we dat graag, en kunnen we het toevoegen aan het bovenstaande lijstje.</p>

<p>Wij zijn een enthousiaste groep van 6 vrijwilligers. We zoeken extra vrijwilligers om het team compleet te maken, zodat we alle spullen die ter reparatie aangeboden worden ook kunnen repareren.</p>

<p>Wij kijken uit naar je komst in ons Repair café in Gorredijk.<br/> Je kunt ons vinden in de bibliotheek in Gorredijk: Schansburg 1, 8401 RX, Gorredijk.</p>
<img src="img/banner-1.jpg" alt="Logo repair cafe" style="width:100%;">
<h1>Berichten:</h1>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Nieuwere Berichten</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Oudere Berichten &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
